In [67]:
import pandas as pd
import numpy as np

## Question 4
Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question

In [68]:
df = pd.read_csv('country_vaccination_stats.csv')
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [69]:
# df['DataFrame Column'] = df['DataFrame Column'].fillna(0)
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)
df.info

<bound method DataFrame.info of         country        date  daily_vaccinations  \
0     Argentina  12/29/2020                 0.0
1     Argentina  12/30/2020             15656.0
2     Argentina  12/31/2020             15656.0
3     Argentina    1/1/2021             11070.0
4     Argentina    1/2/2021              8776.0
...         ...         ...                 ...
1497      Wales   1/20/2021             11105.0
1498      Wales   1/21/2021             12318.0
1499      Wales   1/22/2021             15148.0
1500      Wales   1/23/2021             17371.0
1501      Wales   1/24/2021             17063.0

                                 vaccines
0                               Sputnik V
1                               Sputnik V
2                               Sputnik V
3                               Sputnik V
4                               Sputnik V
...                                   ...
1497  Oxford/AstraZeneca, Pfizer/BioNTech
1498  Oxford/AstraZeneca, Pfizer/BioNTech
1499  Oxford/AstraZeneca, Pfizer/BioNTech
1500  Oxford/AstraZeneca, Pfizer/BioNTech
1501  Oxford/AstraZeneca, Pfizer/BioNTech

[1502 rows x 4 columns]>

In [70]:
df.isnull().any()

country               False
date                  False
daily_vaccinations    False
vaccines              False
dtype: bool

In [71]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 0.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

## Question 5

Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
Please  provide the link to your code as answer to this question.

In [72]:
medians = df.groupby('country')['daily_vaccinations'].median()
top_countries = medians.sort_values(ascending=False).head(3)

print(top_countries)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

## Question 6
What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [73]:
df[df['date']=='1/6/2021'].daily_vaccinations.sum()

1466568.0

## Question 7
 If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.  
Please  provide the link to your code as answer to this question. 
Note: This time SQL equivalent is requested, and imputation value is median of each country, not minimum. Please remember filling countries with zero if they do not have any valid daily_vaccination records like Kuwait.

In [74]:
UPDATE vaccination_data AS vd
SET daily_vaccinations = (
  SELECT MEDIAN(daily_vaccinations)
  FROM vaccination_data
  WHERE country = vd.country
    AND daily_vaccinations IS NOT NULL
)
WHERE daily_vaccinations IS NULL;

UPDATE vaccination_data AS vd
SET total_vaccinations = 0
WHERE total_vaccinations IS NULL;

SyntaxError: invalid syntax (Temp/ipykernel_10512/3252038810.py, line 1)